<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="mge_head">
      <p class ="uname"><font size="4" >当前用户:<%=  cookies[:emp_num] %></font></p>
      <p class="time"><font size="4" >当前时间:</font></p>
      <p class ="mge_logout">
          <%= link_to '退出帐号', root_path%>
      </p>
    </div>
    <div id="mge_left">
      <div id="sider1">
        <span class="sider" >
          企业公告
        </span>
        <ul id="ul1">
          <li><a href="javascript:">添加公告</a></li>
          <li><a href="javascript:">删除公告</a></li>
          <li><a href="javascript:">修改公告</a></li>
        </ul>
      </div>
      <div id="sider2">
        <span class="sider" id="sider2">职工档案</span>
        <ul id="ul2">
          <li><a href="javascript:">添加档案</a></li>
          <li><a href="javascript:">删除档案</a></li>
          <li><a href="javascript:">修改档案</a></li>
        </ul>
      </div>
      <div id="sider3">
        <span class="sider" id="sider3">薪酬记录</span>
        <ul id="ul3">
          <li><a href="javascript:">添加薪酬记录</a></li>
          <li><a href="javascript:">删除薪酬记录</a></li>
          <li><a href="javascript:">修改薪酬记录</a></li>
        </ul>
      </div>
      <div id="sider4">
        <span class="sider" id="sider4">出勤记录</span>
        <ul id="ul4">
          <li><a href="javascript:">添加出勤记录</a></li>
          <li><a href="javascript:">删除出勤记录</a></li>
          <li><a href="javascript:">修改出勤记录</a></li>
        </ul>
      </div>
    </div>
    <div id="mge_right">
      ffffffffffffff ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    </div>
    <div id="mge_foot">
      ffffffffffffff ffffffffff ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    </div>
  </body>
</html>

